<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">{{isTemp ? "Change Your Temporary Password" : "Change Your Password"}}</h1>
</div>
<div class="wrapper-md">
  <div>
    <div class="row">
      <div class="col-sm-12">
        <form name="form" class="form-validation" >
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="h4">Please enter your new password</span>
            </div>
            <div class="panel-body">
			 <div class="alert" ng-class="{'alert-danger': formError, 'alert-success':formSuccess}" ng-show="formError || formSuccess">
          		{{formError}}{{formSuccess}}
     		 </div>
              <div class="row">

                <div class="col-sm-6">

                  <div class="form-group">
                    <label>New Password</label>
                    <input autocomplete="off" type="password" class="form-control" name="password" required ng-model="inputs.password">
                  </div>

                  <div class="form-group">
                    <label>Confirm New Password</label>
                     <input autocomplete="off" type="password" class="form-control" name="password2" required ng-model="inputs.password2">
                  </div>

				</div>
                  
              </div>

            </div>

            <footer class="panel-footer text-right bg-light lter">
              <button type="submit" class="btn btn-success" ng-disabled="form.$invalid"  ng-click="changePassword()">Save</button>
            </footer>
          </div>
        </form>
      </div>


    </div>

  </div>

  


</div>