<div class="container w-xxxl w-auto-lg" ng-controller="RequestFormController" ng-init="app.settings.container = false;">
  <a href="/merchants/" class="navbar-brand block m-t-xxl">
      <img src="img/logo.png" alt="Photopon">
  </a>


  <div class="m-b-lg">
    <div class="wrapper text-center">
      <h2>Request merchant access</h2>
    </div>

 
<!-- Step 1 Login -->
    <form name="form" class="form-validation" ng-show="currentStep == 1">
     
      <fieldset ng-disabled="isProcessing">

        <div class="text-danger wrapper text-center" ng-show="authError">
            {{authError}}
        </div>


        <div class="list-group list-group-sm">

          <p class="">Merchant dashboard allows you to add locations and publish coupons for your clients. Use this form to request access to dashboard.</p>


          <div class="radio">
            <label class="i-checks i-checks-sm">
              <input type="radio" name="a" ng-model="isExistingAccount" ng-value="1">
              <i></i>
              I already have Photopon account
            </label>
          </div>

          <div class="radio">
            <label class="i-checks i-checks-sm">
              <input type="radio" name="a" ng-model="isExistingAccount" ng-value="0">
              <i></i>
              Register Photopon account now
            </label>
          </div>


          <div ng-show="isExistingAccount">

            <label>Photopon username</label>
            <input type="text" class="form-control no-border" ng-model="user.username" required>
            
            <label>Password</label>
             <input type="password" class="form-control no-border" ng-model="user.password" required>
            
          </div>

          <div ng-hide="isExistingAccount">

            <label>Username</label>
            <input type="text"  class="form-control no-border" ng-model="user.username" required>
            

            <label>Pick a password</label>
             <input type="password"  class="form-control no-border" ng-model="user.password" required>
            

            <label>Email</label>
            <input type="email"  class="form-control no-border" ng-model="user.email" required>
            

          </div>


        </div>

        <button type="submit" class="btn btn-lg btn-success btn-block" ng-click="gotoNextStep()">
          <i ng-show="isProcessing" class="fa fa-spin fa-spinner" set-ng-animate="false"></i> 
          &nbsp;Continue...
        </button>

      </fieldset>
    </form>







<!-- Step 2 Register -->
    <form name="form" class="form-validation" ng-show= "currentStep == 2">
     
      <fieldset ng-disabled="isProcessing">

        <div class="text-danger wrapper text-center" ng-show="requestError">
            {{requestError}}
        </div>



        <div class="list-group list-group-sm">

          <p class="">Please fill information about your company.</p>


          <label>Business name</label>
          <input type="text" class="form-control no-border" ng-model="user.companyname" required>
          
          
          <label>Business phone</label>
          <input type="text" class="form-control no-border" ui-mask="(999) 999-9999" ng-model="user.phonenumber" required>
          

          <label>EIN</label>
          <input type="text"  class="form-control no-border" ui-mask="99-9999999" ng-model="user.taxid" required>
          
          
          <label>Referral Code (optional)</label>
          <input type="text" class="form-control no-border" ng-model="user.promocode">

        </div>

        <button type="submit" class="btn btn-lg btn-success btn-block" ng-click="gotoNextStep()">
          <i ng-show="isProcessing" class="fa fa-spin fa-spinner" set-ng-animate="false"></i> 
          &nbsp;Continue...
        </button>

      </fieldset>
    </form>




<!-- Step 3 Verification -->
    <form name="form" class="form-validation" ng-show= "currentStep == 3">
     
      <fieldset ng-disabled="isProcessing">


        <div class="text-danger wrapper text-center" ng-show="verificationError">
            {{verificationError}}
        </div>

        <div class="list-group list-group-sm">

          <p class="">Please verify your mobile phone number. 6 digit verification code is sent to your phone number.</p>


          <label>Verification Code</label>
          <input type="text" class="form-control no-border" ui-mask="999999" ng-model="user.verificationInput" required>
          
        </div>

        <button type="submit" class="btn btn-lg btn-success btn-block" ng-click="gotoNextStep()">
          <i ng-show="isProcessing" class="fa fa-spin fa-spinner" set-ng-animate="false"></i> 
          &nbsp;Continue...
        </button>

      </fieldset>
    </form>






<!-- Step 3 Done -->
    <form name="form" class="form-validation" ng-show= "currentStep == 4">
     
      <fieldset ng-disabled="isProcessing">


        <h3 class="text-success wrapper text-center">
            Congratulations your request has been sent. We will review your request in 24 hours and contact you. <br>Thank you. 
        </h3>


        <a type="button" class="btn btn-lg btn-success btn-block" href="/merchants">
          <i class="fa fa-home" set-ng-animate="false"></i> 
          &nbsp;Home
        </a>

      </fieldset>
    </form>






  </div>


<!--
      <div class="list-group list-group-sm" ng-hide="1">

        <p class="text-muted">Please fill company information.</p>
        
        
        <div class="list-group-item">

           
                <div class="form-group" >

                  <label>Choose Logo for Company (optional)</label>

                  <div class="m-b">
                    <input ui-jq="filestyle" type="file" data-icon="false" data-classButton="btn btn-default" data-classInput="form-control inline v-middle input-s" id="fileInput">
                  </div>
                </div>




                <div class="form-group" ng-show='fileselected'>
                  <label>Please crop your logo</label>
                  <div class="hbox hbox-auto-xs">

                    <div class="col">
                      <div class="wrapper-sm b-a bg-white m-r-xs m-b-xs">
                        <div class="bg-light" style="height:320px">
                          <img-crop 
                            image="myImage" 
                            result-image="myCroppedImage"
                            result-image-size="160"
                            area-type="{{cropType}}"
                          ></img-crop>
                        </div>
                      </div>
                    </div>


                    <div class="col">
                      <div class="inline bg-white wrapper-sm b-a">
                        <div class="bg-light">
                          <img ng-src="{{myCroppedImage}}" />
                        </div>
                      </div>
                    </div>
                  </div>


                </div>


        </div>
        

      </div>

-->




  <div class="m-b-lg" ng-show="requestSent">
    <div class="wrapper text-center">
      <strong>Request merchant access</strong>
    </div>

    <div class="list-group list-group-sm bg-primary wrapper">

      <h4>Hello {{currentUser.get("username")}}, your request has been sent for review. Our support team will conact you in 24 hours.</h4>
      
    </div>

  </div>


  <div class="text-center" ng-include="'tpl/blocks/page_footer.html'">
    {% include 'blocks/page_footer.html' %}
  </div>
</div>